@page
@model ListaDeCompras.Pages.CategoriasModel
@{

}
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css" integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY=" crossorigin="anonymous">
    <link rel="stylesheet" href="~/estilos.css" />
    <title></title>
</head>
<body>
    <header>
        <h1>Lista de compras</h1>
        <div class="toolbaritem">
            <a href="javascript:" class="fa fa-pencil"></a>
            <a href="javascript:" class="fa fa-trash"></a>
        </div>
    </header>
    <main>
        <ol>
            <li>Abarrotes</li>
            <li>Carnes frias</li>
            <li>Fruteria </li>
        </ol>
        <button><i class="fa fa-plus"></i></button>
    </main>
    <nav>
        <a href="javascript:"> <i class="fa fa-shopping-cart"></i>Lista de compras</a>
        <a href="javascript:"><i class="fa fa-shopping-basket"></i>Productos</a>
        <a href ="javascript:"> <i class="fa fa-list-ul"></i>Categorias </a>
    </nav>
</body>
</html>